# MongoDB
MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=mongopassword
# Application database configuration
DB_HOST=mongodb
DB_USER=mongoadmin
DB_PASSWORD=mongopassword
DB_NAME=moderntodo
DB_PORT=27017
# MongoDB connection string
MONGO_URL=mongodb://mongoadmin:mongopassword@mongodb:27017/moderntodo?authSource=admin
# Node
NODE_ENV=development
NODE_LOCAL_PORT=4000
NODE_DOCKER_PORT=4000
# MongoDB ports
MONGODB_LOCAL_PORT=27017
MONGODB_DOCKER_PORT=27017
# JWT
JWT_SECRET=asjkdlkqw873498ncasdj98237498kjsahdk